<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="~/" class="brand-link">
        <i class="fas fa-wallet ml-2"></i>
        <span class="brand-text font-weight-light">Expense Tracker</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
                <li class="nav-item">
                    <a href="~/Kategori" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>Kategori</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Budget" class="nav-link">
                        <i class="nav-icon fas fa-wallet"></i>
                        <p>Budget</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
